APP_LOG_LEVEL=INFO

TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=replace-me
TELEGRAM_SESSION_PATH=./data/taid.session

MERGE_ENABLED=true
MERGE_TIMEOUT_SECONDS=30
MERGE_BREAK_PREFIX=". "

MUSIC_LINKS_ENABLED=true
MUSIC_LINKS_BOT_USERNAME=odesli_bot
MUSIC_LINKS_TIMEOUT_SECONDS=45
MUSIC_LINKS_ERROR_CHAT=me
